:root {
  --main-font: 'Roboto';
  --black-color: #000000;
  --image-background: #f7f7f7;
  --hover-color: #ff6b08;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  display: flex;
}
.movie-list {
  margin-top: 20px;
  width: 280px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  flex-wrap: wrap;
}

.list-item {
  cursor: pointer;
}

.list-item_overlay {
  width: 280px;
  height: 403px;
  border-radius: 5px;
  background-color: var(--image-background);
  overflow: hidden;
  justify-content: center;
}
.list-item_description {
  margin-top: 5px;
}
.list-item_text {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  color: var(--hover-color);
  font-weight: 500;
  font-family: var(--main-font);
  text-transform: capitalize;
}
.list-item_title {
  text-transform: uppercase;
  color: var(--black-color);
  margin-top: 10px;
}
.list-item_split {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--hover-color);
  height: 10px;
  width: 2px;
}

@media screen and (max-width: 767px) {
  .list-item:not(:first-child) {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie-list {
    width: 620px;
  }
  .list-item {
    margin-bottom: 30px;
  }
  .list-item:nth-child(2n) {
    margin-left: 30px;
  }
  .list-item_overlay {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .movie-list {
    width: 870px;
  }
  .list-item {
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .list-item:nth-child(3n) {
    margin-right: 0;
  }
  .list-item_overlay {
    width: 270px;
  }
}
